# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
# for keyword, counter/iterator, in keyword, object

##### Using 'in' keyword

In [ ]:
#in is what accesses the items in an iterable

##### Continue Statement

In [ ]:
#continue

##### Break Statement

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

In [ ]:
#while keyword, condition statement
#while loop will run based on the condition statement

##### looping 'While True'

In [ ]:
# true as a condition for while loop to run

##### While & For Loops Used Together

##### The Range Function

In [ ]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

### String Manipulation Exercise

In [ ]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

## Lists

##### Declaring Lists

##### Indexing a List

In [ ]:
# [start: stop: step] --> last item [-1]

### List Methods

##### .append()

In [2]:
# append adds a new item to the end of the list
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
print(names)
names.append
names.append("Kym")
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Kym']

##### .insert()

In [3]:
#our_list.insert(index, value)
print(names)
names.insert(3, "Bikram")
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Kym']
['Ryan', 'Tenzin', 'Austin', 'Bikram', 'Dylan', 'Mohammad', 'Kym']

##### .pop()

In [5]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

name = names.pop(2)
print(name)
print(names)

#removes las item by default
name2 = names.pop()
print(name2)
print(names)

Bikram
['Ryan', 'Tenzin', 'Dylan', 'Mohammad', 'Kym']
Kym
['Ryan', 'Tenzin', 'Dylan', 'Mohammad']

##### .remove()

In [6]:
# value to be removed, not an index
names.remove("Dylan")
print(names)

['Ryan', 'Tenzin', 'Mohammad']

### Working With Lists

##### del()

In [7]:
# index to be removed, not value 
del (names[0])
print(names)

['Tenzin', 'Mohammad']

##### min()

In [8]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(min(numbers))

0

##### max()

In [ ]:
# returns largest item in a list

In [11]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(max(numbers))

234

##### sum()

In [ ]:
# return the sum of all numbers in a list

In [12]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(sum(numbers))

273

##### sorted()

In [13]:
#sorted will return a new sorted list, create a new variable
sorted_nums = sorted(numbers)
print(sorted_nums)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [ ]:
#.sort() will sort the original list

In [13]:
#sorted will return a new sorted list, create a new variable
sorted.sort()
print(sorted_nums)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### Copying a List

In [ ]:
# [:] copies a list, doesn't alter original'

##### Looping Through Lists

In [20]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
#looping by value
for name in names:
    print(name)
print("\n")

#looping by index
for i in range(len(names)):
    print(names[i])

# looping with enumerate
for i, value in enumerate(names):
    print(i, value)

for i in enumerate(names):
    print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu
(0, 'Han Solo')
(1, 'Leia Organa')
(2, 'Luke Skywalker')
(3, 'Lando Calrissian')
(4, 'Mace Windu')

##### 'in' keyword

In [21]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
if "Ryan" in names:
    print("Hello Ryan")
else:
    "There is no Ryan :("

Hello Ryan

##### 'not in' keyword

In [25]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
if "Grace" not in names:
    print("well that")
else:
    print("oh yay")

well that

##### Checking an Empty List

In [29]:
l_1 = []

if l_1 == []:
    print("Would ya just a loo at empty list.")
print(l_1)

Would ya just a loo at empty list.
[]

##### Removing Instances with a Loop

In [ ]:
#while, remove

In [30]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
for name in names:
    if name == "Austin":
        names.remove(name)
        print(names)
names = ["Ryan", "Alex", "Tenzin", "Jeong", "Nate"]
while "

['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [36]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [39]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums2 = [x for x in nums]
print(nums2)

nums2 = []
for x in nums:
    nums2.append(x)
print(nums2)

[2, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 5, 6, 7, 8, 9, 10]

In [45]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_square = [x**2 for x in nums if x % 2 == 0]
print(nums_square)

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [46]:
tup_1 = (1, 2, 3)
tup_2 = 1, 2, 3
print(tup_2)
print(tup_1)

print(tup_1[1]

for num in tup_2:
    print(num)

print(type(tup_1))

print(len(tup_2))

SyntaxError: '(' was never closed (2980807985.py, line 6)

##### sorted()

##### Adding values to a Tuple

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [1]:
alist = [1,11,14,5,8,9]
nums = [1,11,14,5,8,9]
if

SyntaxError: invalid syntax (3263340890.py, line 3)

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>